
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #00305e;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
}

section:last-child {
    border-bottom: none;
}

#safety-features h3 {
    color: #00305e;
    margin-top: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

#safety-features ul {
    list-style-type: square;
    padding-left: 20px;
}

#safety-features li {
    line-height: 1.6;
    margin-bottom: 5px;
}

#luxury-features p {
    font-style: italic;
    color: #777;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #00305e;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
